.main-container {
  background-color: black;
}

.container {
  text-align: right;
  padding-top: 200px;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 800px;
}

// .banner h1 {
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 4.5rem;
//   font-weight: bold;
//   font-family: $headers-font;
// }

.banner h1 {
  position: relative;
  font-family: $headers-font;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.banner h2 {
  font-size: 2rem;
  color: white;
  //opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: $body-font;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
